@*You need to add a reference to jQuery prior to referencing the highcharts javascript file*@
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

@using Highsoft.Web.Mvc.Charts

    @(Html.Highsoft().Highcharts(
        new Highcharts
        {
            Chart = new Highsoft.Web.Mvc.Charts.Chart
            {
                ZoomType = ChartZoomType.X
            },
            Title = new Title
            {
                Text = "Prix de L'obligation entre le 01/01/1993 et sa date d'échéance"
            },
            Subtitle = new Subtitle
            {
                Text = "Click and drag in the plot area to zoom in"
            },
            XAxis = new List<XAxis>
            {
                new XAxis
                {
                    Type = XAxisType.Datetime

                }
            },
            YAxis = new List<YAxis>
            {
                new YAxis
                {
                    Title = new YAxisTitle
                    {
                        Text = "Prix de l'obligation"

                    },
                    Min=0
                }
            },
            Legend = new Legend
            {
                Enabled = false
            },
            Tooltip = new Tooltip
            {
                XDateFormat= "%e %b %Y"
            },
            PlotOptions = new PlotOptions
            {
                Series = new PlotOptionsSeries
                {
                    TurboThreshold = 10000
                },
                Area = new PlotOptionsArea
                {
                    ///FillColor = // TODO - LinerGradients
                    ///                   
                    Marker = new PlotOptionsAreaMarker
                    {
                        Radius = 2
                    },
                    LineWidth = 1,
                    States = new PlotOptionsAreaStates
                    {
                        Hover = new PlotOptionsAreaStatesHover
                        {
                            LineWidth = 1
                        }
                    },
                    Threshold = null
                }
            },
            Series = new List<Series>
            {
                new AreaSeries
                {
                    Name = "Prix",
                    PointInterval =  24 * 3600 * 1000,
                    PointStart =  @ViewBag.DateUTC,
                    Data = @ViewBag.TimeData as List<AreaSeriesData>
                }
            }
        }
        , "chart")
    )


@model MyPricerClient.BondClient

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Obligation à taux Fixe</th>
        </tr>
        <tr>
            <td>Valeur nominale: </td>
            <td>
                @Html.TextBoxFor(m => m.Nominal, new { @Value = Model.Nominal })
            </td>
        </tr>
        <tr>
            <td>Maturité (années): </td>
            <td>
                @Html.TextBoxFor(m => m.Maturity)
            </td>
        </tr>
        <tr>
            <td>Périodicité (mois): </td>
            <td>
                @Html.TextBoxFor(m => m.Periodicity)
            </td>
        </tr>
        <tr>
            <td>Date d'émission: </td>
            <td>
                @Html.TextBoxFor(m => m.IssueDate, "{0:dd/MM/yyyy}")
            </td>
        </tr>
        <tr>
            <td>Taux facial: </td>
            <td>
                @Html.TextBoxFor(m => m.Rate)
            </td>
        </tr>
        <tr>
            <td>Coupon: </td>
            <td>
                @Html.TextBoxFor(m => m.Coupon, new { @Value = Model.Coupon ,@class = "disabled", @readonly = true })
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Valider" /></td>
        </tr>
    </table>
}